{% if locale == 'tw' %}
  {% assign docLocale = 'zh-TW' %}
{% endif %}

<!DOCTYPE html>
<html
  lang="{% if docLocale %}{{ docLocale }}{% else %}{{ locale }}{% endif %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.pageTitle }}</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,900&display=swap&subset=chinese-traditional" rel="stylesheet"> 
    <link rel="stylesheet" href="/_includes/css/main.min.css">
</head>

<body>
    <div class="container" id="page-heading">
        {% include './layouts/partials/page-heading' %}
    </div>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <div class="container">
      <p><a href="/{{ locale }}/about" class="link quiet">{{ localized[locale].footer.about }}</a></p>
        <p>
          <a href="https://www.chinesetaipeitouch.com" class="link quiet">{{ localized[locale].footer.homepage }}</a>
        </p>
        <p>
          <a href="https://www.facebook.com/ChineseTaipeiTouch/" class="link quiet">{{ localized[locale].footer.facebook }}</a>
        </p>
        <p>{{ localized[locale].footer.credit | safe }}</p>
      </div>
    </footer>
</body>

</html>