<div id="events">
    {% for event in events %}
    {% unless event.matches.size == 0 and event.referees.event.size == 0 %}
        <div class="event">
            <div class="event-title">
                {% if event.150x %}
                <picture>
                    <img 
                      src="{{ event.150x }}" 
                      srcset="{{ event.300x }} 2x"
                      alt="Logo for {{ event.name[locale] }}">
                  </picture>
                {% else %}
                <picture>
                    <img 
                      src="https://res.cloudinary.com/itsfish/image/upload/c_scale,f_auto,h_150/v1584424813/CTTA-Almanac/fit_logo.png" 
                      srcset="https://res.cloudinary.com/itsfish/image/upload/c_scale,f_auto,h_300/v1584424813/CTTA-Almanac/fit_logo.png 2x"
                      alt="Logo for Federation of International Touch">
                  </picture>
                {% endif %}
                <div>
                    <h2 class="h2 loud">{{ event.name[locale] }}</h2>
                    <p class="type">{{ event.type | upcase }}</p>
                </div>
            </div>
            {% unless event.matches.size == 0 %}
            <h3 class="h3">{{ localized[locale].plural.match | capitalize }}</h3>
            <div class="matches data-table">
                <table>
                    <thead>
                        <tr>
                            <th class="date">{{ localized[locale].table.date | capitalize }}</th>
                            <th class="division">{{ localized[locale].table.division | capitalize }}</th>
                            <th class="opponent">{{ localized[locale].table.opponent | capitalize }}</th>
                            <th class="score">{{ localized[locale].table.score | capitalize }}</th>
                            <th class="result">{{ localized[locale].table.result | capitalize }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for match in event.matches %}
                        <tr>
                            <td class="date">{{ match.gameDate | date: "%d %b %Y" }}</td>
                            <td class="division">{{ match.division.name[locale] }}</td>
                            <td class="opponent"><a href="/{{ locale }}/events/{{ match.event.name.en | slug }}/matches/{{ match.gameDate | date: '%y%m%d' }}/{{ match.opponent.name.en | slug }}" class="link">{{ match.opponent.name[locale] }}</a</td>
                            <td class="score">{{ match.taipeiScore }} - {{ match.opponent.score }}</td>
                            <td class="result">{{ match.result }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endunless %}
            {% unless event.referees.event.size == 0 %}
                <h3 class="h3">{{ localized[locale].plural.referee | capitalize }}</h3>
                <div class="referees data-table">
                    <table>
                        <thead>
                            <tr>
                                <th class="date">{{ localized[locale].table.date | capitalize }}</th>
                                <th class="division">{{ localized[locale].table.division | capitalize }}</th>
                                <th class="refTeams">{{ localized[locale].table.teams | capitalize }}</th>
                                <th class="score">{{ localized[locale].table.score | capitalize }}</th>
                                <th class="referees">{{ localized[locale].plural.referee | capitalize }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for matches in event.referees %}
                                {% for match in matches %}
                                {% if match.gameDate %}
                                        <tr>
                                            <td class="date">{{ match.gameDate | date: "%d %b %Y" }}</td>
                                            <td class="division">{{ match.division[locale] }}</td>
                                            <td class="refTeams">{{ match.homeTeam.name[locale] }} v. {{ match.awayTeam.name[locale] }}</td>
                                            <td class="score">{{ match.homeTeam.score }} v. {{ match.awayTeam.score }}</td>
                                            <td class="referees">
                                            {% for ref in match.referee %}
                                                <a href="/{{ locale }}/referees/{{ ref.name.en | slug }}" class="link">{{ ref.name[locale] }}</a>
                                            {% endfor %}
                                            </td>
                                        </tr>
                                {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endunless %}
        </div>
    {% endunless %}
    {% endfor %}
</div>