<div class="center">
    <h1 class="h1 loud">{{ localized[locale].header.title }}</h1>

    <!-- Language Selector -->
    <ul class="" id="lang-selector">
        {% if locale == 'en' %}
            <li class="loud bold">English</li>
            <span class="h5">/</span>
            <li><a href="/tw" class="link">中文版</a></li>
        {% else %}
            <li><a href="/en" class="link">English</a></li>
            <span class="h5">/</span>
            <li class="loud bold">中文版</li>
        {% endif %}
    </ul>

    <ul id="menu">
        <li class="menu-link h5"><a {% if key == 'index' %} class="active" {% endif %} href="/{{ locale }}/">{{ localized[locale].header.persons | capitalize }}</a></li>
        <li class="menu-link h5"><a {% if key == 'teams' %} class="active" {% endif %} href="/{{ locale }}/teams">{{ localized[locale].header.teams | capitalize }}</a></li>
        <li class="menu-link h5"><a {% if key == 'events' %} class="active" {% endif %} href="/{{ locale }}/events">{{ localized[locale].header.events | capitalize }}</a></li>
    </ul>
</div>

<!--- Link prefetching -->
<link rel="prefetch" href="/{{ locale }}/teams">
<link rel="prefetch" href="/{{ locale }}/events">