<div id="coach-stats">
    <h2 class="h2 loud">{{ localized[locale].plural.coach | capitalize }}</h2>
    <div class="data-table">
        <table>
            <thead>
                <tr>
                    <th class="name"></th>
                    <th class="matches">{{ localized[locale].plural.match | capitalize }}</th>
                </tr>
            </thead>
            <tbody>
            {% for coach in persons.coaches %}
            {% unless coach.matchCount == 0 %}
                <tr>
                    <td class="name"><a href="/{{ locale }}/coaches/{{ coach.name.en | slug }}" class="link">{{ coach.name[locale] }}</a></td>
                    <td class="matches">{{ coach.matchCount }}</td>
                </tr>
            {% endunless %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>