<div class="data-table">
    <table>
        <thead>
            <tr>
                <th class="date">{{ localized[locale].table.date | capitalize }}</th>
                <th class="event">{{ localized[locale].table.event | capitalize }}</th>
                <th class="opponent">{{ localized[locale].table.opponent | capitalize }}</th>
                <th class="score">{{ localized[locale].table.score | capitalize }}</th>
                <th class="result">{{ localized[locale].table.result | capitalize }}</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td class="date">{{ match.gameDate | date: "%d %b %Y" }}</td>
                <td class="event">{{ match.event.name[locale] }}</td>
                <td class="opponent"><a href="/{{ locale }}/events/{{ match.event.name.en | slug }}/matches/{{ match.gameDate | date: '%y%m%d' }}/{{ match.opponent.name.en | slug }}" class="link">{{ match.opponent.name[locale] }}</a</td>
                <td class="score">{{ match.taipeiScore }} - {{ match.opponent.score }}</td>
                <td class="result">{{ match.result[locale] | capitalize }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>