
    <div class="data-table">
        <table>
            <thead>
                <tr>
                    <th class="name"></th>
                    <th class="matches">{{ localized[locale].plural.match | capitalize}}</th>
                    <th class="touchdowns">{{ localized[locale].plural.touchdown | capitalize}}</th>
                    <th class="assists">{{ localized[locale].plural.assist | capitalize}}*</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                {% unless player.matchCount == 0 %}
                    <tr class="player">
                        <td class="name"><a href="/{{ locale }}/players/{{ player.name.en | slug }}" class="link">{{ player.name[locale] }}</a></td>
                        <td class="matches">{{ player.matchCount }}</td>
                        <td class="touchdowns">{{ player.matchStats.touchdowns }}</td>
                        <td class="assists">{{ player.matchStats.assists }}</td>
                    </tr>
                {% endunless %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="small">{{ localized[locale].table.assistsNote }}</td>
                </tr>
            </tfoot>
        </table>
    </div>