
    <div class="data-table">
        <table>
            <thead>
                <tr>
                    <th class="name"></th>
                    <th class="matches">Matches</th>
                    <th class="touchdowns">Touchdowns</th>
                    <th class="assists">Assists*</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                {% unless player.matchCount == 0 %}
                    <tr class="player">
                        <td class="name"><a href="/{{ locale }}/players/{{ player.name.en | slug }}" class="link">{{ player.name[locale] }}</a></td>
                        <td class="matches">{{ player.matchCount }}</td>
                        <td class="touchdowns">{{ player.matchStats.touchdowns }}</td>
                        <td class="assists">{{ player.matchStats.assists }}</td>
                    </tr>
                {% endunless %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="small">*Assists stat may not be complete due to limited data.</td>
                </tr>
            </tfoot>
        </table>
    </div>